<h2 mat-dialog-title>Add new Todo</h2>
<mat-dialog-content>please insert todo details</mat-dialog-content>

<form #f="ngForm" (ngSubmit)="onNewTodoSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>What's your task?</mat-label>
    <input ngModel name="title" matInput required="true">
    <mat-error *ngIf="f.submitted && f.controls['title']?.invalid">Please fill TODO title</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Describe your task</mat-label>
    <textarea ngModel name="description" matInput required="true"></textarea>
    <mat-error *ngIf="f.submitted && f.controls['description']?.invalid">Please fill TODO description</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>enter date</mat-label>
    <input ngModel name="date" matInput [matDatepicker]="picker" required="true">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="f.submitted && f.controls['date']?.invalid">Please fill TODO date</mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">OK</button>

</form>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button mat-raised-button color="primary" [mat-dialog-close]="true">OK</button> -->
</mat-dialog-actions>